.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}

.select {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.select:focus {
  border-color: #7d5a50;
  outline: none;
}

.price {
  font-weight: bold;
}

