.sidebar {
  width: 230px;
  background: #7d5a50;
  color: white;
  padding: 25px 20px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 40px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.link {
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 8px;
  transition: 0.2s;
}

.link:hover {
  background: #a47564;
}

.active {
  background: #c08b74;
}
